# ===============================
# OS / System
# ===============================
.DS_Store

# ===============================
# VS Code / Editor
# ===============================
*.code-workspace
.vscode/

# ===============================
# Chrome DevTools (Overrides / Workspaces)
# ===============================
overrides/
.devtools*
cdn.jsdelivr.net/

# ===============================
# Logs / Temp
# ===============================
logs/
*.log

# ===============================
# Environment / Secrets
# ===============================
.env
.env.*
