/* Project: La Maison Bossché
 * Version: 0.1.0
 * Build: dev-20260116.001
 * Source: Blocksy Extra CSS (non-wishlist styling)
 */


 @media (min-width: 691px) and (max-width: 1000px) {
	.final-sale-home-cta [data-products] {
		--shop-columns: repeat(3, minmax(0, 1fr))
	}
}

.final-sale-home-cta .product {
	--theme-text-color: rgba(255, 255, 255, 0.5);
	--theme-heading-color: #fff;
}

.elementor-icon-box-content {
	margin-top: -4px;
}

.wpforms-container {
	margin-bottom: 0px;
}

.ct-widget-cover-block {
	padding: 40px;
}


/* Verberg de Trending berichten sectie */
.ct-trending-block {
    display: none !important;
}


/* Submenu items underline bij hover */
.header-menu-1 .sub-menu li a:hover {
  text-decoration: underline;
}

