<script>
(function () {
  var host = window.location.hostname;
  var href;

  if (host.indexOf('dev.') === 0) {
    href = 'https://cdn.jsdelivr.net/gh/qualis-it-bv/lmb-assets@dev/css/global.css';
  } else if (host.indexOf('staging.') === 0) {
    href = 'https://cdn.jsdelivr.net/gh/qualis-it-bv/lmb-assets@staging/css/global.css';
  } else if (host.indexOf('test.') === 0) {
    href = 'https://cdn.jsdelivr.net/gh/qualis-it-bv/lmb-assets@test/css/global.css';
  } else {
    href = 'https://cdn.jsdelivr.net/gh/qualis-it-bv/lmb-assets@main/css/global.css';
  }

  var link = document.createElement('link');
  link.rel = 'stylesheet';
  link.href = href;
  link.media = 'all';
  document.head.appendChild(link);
})();
</script>